/* Style CSS pour la fenêtre principale */

.main {
	-fx-pref-width: 700.0;
	-fx-pref-height: 450.0;
	-fx-background-image: url(../pictures/background.png);
}

.main .button {
	-fx-background-color: #44FB;
	-fx-background-radius: 8.0;
	-fx-border-color: white;
	-fx-border-width: 1.5;
	-fx-border-radius: 6.0;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

.main .toggle-button {
	-fx-background-color: #44F8;
	-fx-background-radius: 8.0;
	-fx-border-color: white;
	-fx-border-width: 1.5;
	-fx-border-radius: 6.0;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

.main .button:hover, .main .toggle-button:selected {
	-fx-background-color: #44F;
}

.main .button:pressed {
	-fx-border-color: darkgray;
	-fx-text-fill: darkgray;
}

.main .separator *.line {
	-fx-background-color: #DDF;
	-fx-border-style: solid;
	-fx-border-width: 0.0px;
}

.main .label, .main .check-box {
	-fx-font-size: 12.0;
	-fx-font-family: cocogoose pro;
	-fx-font-weight: bold;
}

/*.main .slider .thumb {
	-fx-padding: 0 3;
	-fx-font-size: 6.0;
	-fx-font-family: cocogoose pro;
}*/

/* Style CSS pour la barre de menu */

.menu-bar {
	-fx-alignment: center-left;
	-fx-padding: 2.5;
    -fx-background-color: #0000E4;
    -fx-effect: dropshadow(gaussian, #222, 20.0, 0.0, 0.0, 0.0);
}

.menu:hover {
	-fx-background-color: #FFF6;
	-fx-background-radius: 5.0;
}

.menu:showing {
	-fx-background-color: #FFF6;
	-fx-background-radius: 5.0 5.0 0.0 0.0;
}

.menu .label {
	-fx-padding: -2.5 5.0;
	-fx-font-family: cocogoose pro;
	-fx-font-size: 16.0;
	-fx-text-fill: white;
}

.menu .check-menu-item > .left-container {
	-fx-background-color: #FFF4;
	-fx-background-radius: 3.0;
	-fx-border-color: white;
	-fx-border-radius: 3.0;
}

.menu .check-menu-item > .left-container > .check {
	-fx-background-color: white;
}

.menu .separator {
	-fx-padding: 3.0 0.0;
	-fx-background-color: transparent;
}

.context-menu {
	-fx-padding: 5.0;
	-fx-background-color: #714CFE;
	-fx-background-radius: 0.0 10.0 10.0 10.0;
}

.menu-item .label {
	-fx-font-size: 14.0;
	-fx-font-weight: normal;
}

.menu-item .arrow {
	-fx-background-color: white;
}

.menu .menu-item:focused {
	-fx-background-color: #FFF6;
	-fx-background-radius: 5.0;
}

/* Style CSS pour la barre d'outils à gauche de la fenêtre */

.left-border {
	-fx-background-color: #B39AFD66;
    -fx-effect: dropshadow(gaussian, #444, 10.0, 0.0, 0.0, 0.0);
}

.left-border .text {
	-fx-font-family: cocogoose pro;
	-fx-font-size: 12.0;
	-fx-text-fill: white;
}

/* Style CSS pour les tableaux à onglets */

/* Style d'affichage pour la fenêtre des préférences */

.preferences-dialog {
	-fx-background-color: #BBB;
	-fx-padding: 5.0;
}

.tab-pane {
	-fx-padding: 0.0 5.0 5.0 5.0;
	-fx-effect: dropshadow(gaussian, black, 10.0, 0.0, 0.0, 0.0);
}

.tab {
	-fx-background-color: #DDD;
	-fx-background-radius: 5.0 5.0 0.0 0.0;
}

.tab:selected {
	-fx-background-color: white;
}

.tab-pane > .tab-content-area {
	-fx-background-color: white;
	-fx-background-radius: 5.0;
}

.tab-pane .tab-header-background {
	-fx-background-color: transparent;
}

.grid-pane {
	-fx-padding: 5.0;
	-fx-vgap: 5.0;
	-fx-hgap: 5.0;
}

/* Style d'affichage pour la fenêtre "À propos" */

.about-dialog {
	-fx-background-color: linear-gradient(to right bottom, #E8E8E8 30.0%, white);
	-fx-background-image: url(../pictures/about_background.png);
	-fx-background-repeat: no-repeat;
	-fx-background-size: 50.0%;
	-fx-background-position: bottom right;
	-fx-padding: 10.0;
	-fx-spacing: 15.0;
	-fx-alignment: center;
	-fx-font-size: 12.0;
}

.about-dialog .tile {
	-fx-background-color: linear-gradient(to bottom right, silver, #DDD);
	-fx-background-radius: 10.0;
	-fx-effect: dropshadow(gaussian, gray, 10.0, 0.0, 0.0, 0.0);
}

.about-dialog .app-name {
	-fx-font-size: 30.0;
	-fx-font-weight: bold;
	-fx-text-fill: #009688;
	-fx-effect: dropshadow(gaussian, #BBB, 10.0, 0.0, 0.0, 0.0);
}

.about-dialog .version {
	-fx-font-weight: bold;
}

.tile {
	-fx-padding: 5.0;
	-fx-background-color: #EEE;
	-fx-background-radius: 5.0;
	-fx-border-color: #AAA;
	-fx-border-width: 1.0;
	-fx-border-radius: 5.0;
	-fx-effect: dropshadow(gaussian, #888, 10.0, 0.0, 0.0, 0.0);
}

/* Style d'affichage des composants FXML pour un éventuel débogage */

.debug {
	-fx-background-color: #F004;
}